// TODO - Importar variáveis do tema
.menu {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 40px;
    flex-grow: 1;
    padding: 16px;
    
    .menu-option {
        display: flex;
        align-items: center;
        cursor: pointer;
        border-radius: 8px !important;
        column-gap: 12px;
        padding: 12px 8px;
    }
    .menu-option.selected {
        background-color: #14264c;
    }

    .menu-option:hover {
        background-color: #253763;
    }
}